In [1]:
# importing dependencies 
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup
import requests
import time

In [2]:
# URL of page to be scraped
domain = 'https://www.fws.gov/'
url = f'{domain}/refuges/databases/ThreatenedEndangeredSpecies/ThreatenedEndangered_Display.cfm'
response = requests.get(url)

In [3]:
# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(response.content, 'html.parser')

In [4]:
# Extract tables
table = soup.find_all('table')[1]
df = pd.read_html(str(table))[1]

In [5]:
# Showing dataframe 
df

,0,1,2,3,4
0,Organism Type,Species Name,Federal Status,Unit Name,State
1,Amphibian,Arroyo Toad,Endangered,San Diego NWR,CA
2,Amphibian,California Red-legged Frog,Endangered,Guadalupe-Nipomo Dunes NWR,CA
3,Amphibian,California Red-legged Frog,Endangered,San Diego NWR,CA
4,Amphibian,Cheat Mountain Salamander,Threatened,Canaan Valley NWR,WV
...,...,...,...,...,...
961,Snail,Oahu Tree Snail - Achatinella decipiens,Endangered,Oahu Forest NWR,HI
962,Snail,Oahu Tree Snail - Achatinella leucorraphe,Endangered,Oahu Forest NWR,HI
963,Snail,Oahu Tree Snail - Achatinella sowerbyana,Endangered,Oahu Forest NWR,HI
964,Snail,Round rocksnail,Threatened,Cahaba River National Wildlife Refuge,AL
965,Snail,Stock Island Tree Snail,Threatened,National Key Deer Refuge,FL

In [6]:
# renaming columns
df.columns = ['Organism Type', 'Species Name', 'Federal Status', 'Unit Name', 'State']
df

,Organism Type,Species Name,Federal Status,Unit Name,State
0,Organism Type,Species Name,Federal Status,Unit Name,State
1,Amphibian,Arroyo Toad,Endangered,San Diego NWR,CA
2,Amphibian,California Red-legged Frog,Endangered,Guadalupe-Nipomo Dunes NWR,CA
3,Amphibian,California Red-legged Frog,Endangered,San Diego NWR,CA
4,Amphibian,Cheat Mountain Salamander,Threatened,Canaan Valley NWR,WV
...,...,...,...,...,...
961,Snail,Oahu Tree Snail - Achatinella decipiens,Endangered,Oahu Forest NWR,HI
962,Snail,Oahu Tree Snail - Achatinella leucorraphe,Endangered,Oahu Forest NWR,HI
963,Snail,Oahu Tree Snail - Achatinella sowerbyana,Endangered,Oahu Forest NWR,HI
964,Snail,Round rocksnail,Threatened,Cahaba River National Wildlife Refuge,AL
965,Snail,Stock Island Tree Snail,Threatened,National Key Deer Refuge,FL

In [7]:
# Pulling all plants from dataframe
plants_df = df.loc[df['Organism Type'] == 'Plant']
plants_df

,Organism Type,Species Name,Federal Status,Unit Name,State
681,Plant,"Pogogyne abramsii, San Diego mesa mint",Endangered,San Diego NWR,CA
682,Plant,"Pogogyne nudiuscula, Otay mesa mint",Endangered,San Diego NWR,CA
683,Plant,"Aconitum noveboracense, Northern Wild Monkshood",Endangered,Driftless Area NWR,IA
684,Plant,"Aeschynomene virginica, Sensitive Joint-vetch",Threatened,Mattamuskeet NWR,NC
685,Plant,"Agalinis acuta, sandplain gerardia",Endangered,Wertheim NWR,NY
...,...,...,...,...,...
807,Plant,"Stahlia monosperma, Cobana negra",Threatened,Cabo Rojo NWR,PR
808,Plant,"Stahlia monosperma, Cobana negra",Threatened,Vieques NWR,PR
809,Plant,"Tetraplasandra gymnocarpa, no common name",Endangered,Oahu Forest NWR,HI
810,Plant,"Trifolium stoloniferum, Running Buffalo Clover",Threatened,Ottawa NWR,OH
811,Plant,"Viola oahuensis, no common name",Endangered,Oahu Forest NWR,HI

In [8]:
#Birds
bird_df = df.loc[df['Organism Type'] == 'Bird']
bird_df

,Organism Type,Species Name,Federal Status,Unit Name,State
9,Bird,Akiapolaau,Endangered,Hakalau Forest NWR,HI
10,Bird,Attwater's Greater Prairie-chicken,Endangered,Attwater Prairie Chicken NWR,TX
11,Bird,Attwater's Greater Prairie-chicken,Endangered,Aransas NWR,TX
12,Bird,Audubon's Crested Caracara,Threatened,Arthur R. Marshall Loxahatchee NWR,FL
13,Bird,Bachman's Warbler,Endangered,Ernest F. Hollings ACE Basin NWR,SC
...,...,...,...,...,...
416,Bird,Wood Stork,Endangered,Arthur R. Marshall Loxahatchee NWR,FL
417,Bird,Wood Stork,Endangered,Banks Lake NWR,GA
418,Bird,Wood Stork,Endangered,Blackbeard Island NWR,GA
419,Bird,Yellow-shouldered Blackbird,Endangered,Cabo Rojo NWR,PR
420,Bird,Yellow-shouldered Blackbird,Endangered,Laguna Cartagena NWR,PR

In [10]:
# reading in csv with lat long
latdf = pd.read_csv('../../data/Lat_long_states.csv') 
latdf

   State        Lat        Long
0     WI  44.500000  -89.500000
1     WV  39.000000  -80.500000
2     VT  44.000000  -72.699997
3     TX  31.000000 -100.000000
4     SD  44.500000 -100.000000
5     RI  41.700001  -71.500000
6     OR  44.000000 -120.500000
7     NY  43.000000  -75.000000
8     NH  44.000000  -71.500000
9     NE  41.500000 -100.000000
10    KS  38.500000  -98.000000
11    MS  33.000000  -90.000000
12    IL  40.000000  -89.000000
13    DE  39.000000  -75.500000
14    CT  41.599998  -72.699997
15    AR  34.799999  -92.199997
16    IN  40.273502  -86.126976
17    MO  38.573936  -92.603760
18    FL  27.994402  -81.760254
19    NV  39.876019 -117.224121
20    ME  45.367584  -68.972168
21    MI  44.182205  -84.506836
22    GA  33.247875  -83.441162
23    HI  19.741755 -155.844437
24    AK  66.160507 -153.369141
25    TN  35.860119  -86.660156
26    VA  37.926868  -78.024902
27    NJ  39.833851  -74.871826
28    KY  37.839333  -84.270020
29    ND  47.650589 -100.437012
30    MN  46.392410  -94.636230
31    OK  36.084621  -96.921387
32    MT  46.965260 -109.533691
33    WA  47.751076 -120.740135
34    UT  39.419220 -111.950684
35    CO  39.113014 -105.358887
36    OH  40.367474  -82.996216
37    AL  32.318230  -86.902298
38    IA  42.032974  -93.581543
39    NM  34.307144 -106.018066
40    SC  33.836082  -81.163727
41    PA  41.203323  -77.194527
42    AZ  34.048927 -111.093735
43    MD  39.045753  -76.641273
44    MA  42.407211  -71.382439
45    CA  36.778259 -119.417931
46    ID  44.068203 -114.742043
47    WY  43.075970 -107.290283
48    NC  35.782169  -80.793457
49    LA  30.391830  -92.329100

In [11]:
# merging bird df on state 
merged_bird_df = pd.merge(latdf,bird_df, on='State', how='left')
merged_bird_df

,State,Lat,Long,Organism Type,Species Name,Federal Status,Unit Name
0,WI,44.50000,-89.500000,Bird,Kirtland's Warbler,Endangered,St. Croix WMD
1,WV,39.00000,-80.500000,NaN,NaN,NaN,NaN
2,VT,44.00000,-72.699997,NaN,NaN,NaN,NaN
3,TX,31.00000,-100.000000,Bird,Attwater's Greater Prairie-chicken,Endangered,Attwater Prairie Chicken NWR
4,TX,31.00000,-100.000000,Bird,Attwater's Greater Prairie-chicken,Endangered,Aransas NWR
...,...,...,...,...,...,...,...
386,LA,30.39183,-92.329100,Bird,Piping Plover,Endangered,Delta NWR
387,LA,30.39183,-92.329100,Bird,Piping Plover,Endangered,Shell Keys NWR
388,LA,30.39183,-92.329100,Bird,Red-cockaded Woodpecker,Endangered,Upper Ouachita NWR
389,LA,30.39183,-92.329100,Bird,Red-cockaded Woodpecker,Endangered,Big Branch Marsh NWR
390,LA,30.39183,-92.329100,Bird,Red-cockaded Woodpecker,Endangered,D'Arbonne NWR

In [12]:
#dropping NAN rows because there are no endangered birds in the states with NaN values 
cleaned_bird_df = merged_bird_df.dropna(how='any')
cleaned_bird_df

,State,Lat,Long,Organism Type,Species Name,Federal Status,Unit Name
0,WI,44.50000,-89.5000,Bird,Kirtland's Warbler,Endangered,St. Croix WMD
3,TX,31.00000,-100.0000,Bird,Attwater's Greater Prairie-chicken,Endangered,Attwater Prairie Chicken NWR
4,TX,31.00000,-100.0000,Bird,Attwater's Greater Prairie-chicken,Endangered,Aransas NWR
5,TX,31.00000,-100.0000,Bird,Black-capped Vireo,Endangered,Santa Ana NWR
6,TX,31.00000,-100.0000,Bird,Black-capped Vireo,Endangered,Balcones Canyonlands NWR
...,...,...,...,...,...,...,...
386,LA,30.39183,-92.3291,Bird,Piping Plover,Endangered,Delta NWR
387,LA,30.39183,-92.3291,Bird,Piping Plover,Endangered,Shell Keys NWR
388,LA,30.39183,-92.3291,Bird,Red-cockaded Woodpecker,Endangered,Upper Ouachita NWR
389,LA,30.39183,-92.3291,Bird,Red-cockaded Woodpecker,Endangered,Big Branch Marsh NWR
390,LA,30.39183,-92.3291,Bird,Red-cockaded Woodpecker,Endangered,D'Arbonne NWR

In [13]:
# Export to CSV file
cleaned_bird_df.to_csv("../../data/Endangered_Birds.csv", index=False)

In [14]:
# merging plant df on state 
merged_plant_df = pd.merge(latdf,plants_df, on='State', how='left')
merged_plant_df

,State,Lat,Long,Organism Type,Species Name,Federal Status,Unit Name
0,WI,44.500000,-89.500000,Plant,"Cirsium pitcheri, Pitcher's Thistle",Threatened,Leopold WMD
1,WI,44.500000,-89.500000,Plant,"Iris lacustris, Dwarf Lake Iris",Threatened,Leopold WMD
2,WI,44.500000,-89.500000,Plant,"Lespedeza leptostachya, Prairie Bush-clover",Threatened,Leopold WMD
3,WI,44.500000,-89.500000,Plant,"Oxytropis campestris var. chartacea, Fassett's...",Threatened,Leopold WMD
4,WI,44.500000,-89.500000,Plant,"Platanthera leucophaea, Eastern Prairie Fringe...",Threatened,Leopold WMD
...,...,...,...,...,...,...,...
134,ID,44.068203,-114.742043,NaN,NaN,NaN,NaN
135,WY,43.075970,-107.290283,NaN,NaN,NaN,NaN
136,NC,35.782169,-80.793457,Plant,"Aeschynomene virginica, Sensitive Joint-vetch",Threatened,Mattamuskeet NWR
137,NC,35.782169,-80.793457,Plant,"Amaranthus pumilus, Seabeach Amaranth",Endangered,Currituck NWR
138,LA,30.391830,-92.329100,NaN,NaN,NaN,NaN

In [27]:
merged_plant_df['Location'] = merged_plant_df[['Lat', 'Long']].values.tolist()
merged_plant_df

,State,Lat,Long,Organism Type,Species Name,Federal Status,Unit Name,Location
0,WI,44.500000,-89.500000,Plant,"Cirsium pitcheri, Pitcher's Thistle",Threatened,Leopold WMD,"[44.5, -89.5]"
1,WI,44.500000,-89.500000,Plant,"Iris lacustris, Dwarf Lake Iris",Threatened,Leopold WMD,"[44.5, -89.5]"
2,WI,44.500000,-89.500000,Plant,"Lespedeza leptostachya, Prairie Bush-clover",Threatened,Leopold WMD,"[44.5, -89.5]"
3,WI,44.500000,-89.500000,Plant,"Oxytropis campestris var. chartacea, Fassett's...",Threatened,Leopold WMD,"[44.5, -89.5]"
4,WI,44.500000,-89.500000,Plant,"Platanthera leucophaea, Eastern Prairie Fringe...",Threatened,Leopold WMD,"[44.5, -89.5]"
...,...,...,...,...,...,...,...,...
134,ID,44.068203,-114.742043,NaN,NaN,NaN,NaN,"[44.068203000000004, -114.742043]"
135,WY,43.075970,-107.290283,NaN,NaN,NaN,NaN,"[43.07597, -107.290283]"
136,NC,35.782169,-80.793457,Plant,"Aeschynomene virginica, Sensitive Joint-vetch",Threatened,Mattamuskeet NWR,"[35.782169, -80.79345699999999]"
137,NC,35.782169,-80.793457,Plant,"Amaranthus pumilus, Seabeach Amaranth",Endangered,Currituck NWR,"[35.782169, -80.79345699999999]"
138,LA,30.391830,-92.329100,NaN,NaN,NaN,NaN,"[30.39183, -92.3291]"

In [28]:
#dropping NAN rows because there are no endangered plants in the states with NaN values 
cleaned_plants_df = merged_plant_df.dropna(how='any')
cleaned_plants_df

,State,Lat,Long,Organism Type,Species Name,Federal Status,Unit Name,Location
0,WI,44.500000,-89.500000,Plant,"Cirsium pitcheri, Pitcher's Thistle",Threatened,Leopold WMD,"[44.5, -89.5]"
1,WI,44.500000,-89.500000,Plant,"Iris lacustris, Dwarf Lake Iris",Threatened,Leopold WMD,"[44.5, -89.5]"
2,WI,44.500000,-89.500000,Plant,"Lespedeza leptostachya, Prairie Bush-clover",Threatened,Leopold WMD,"[44.5, -89.5]"
3,WI,44.500000,-89.500000,Plant,"Oxytropis campestris var. chartacea, Fassett's...",Threatened,Leopold WMD,"[44.5, -89.5]"
4,WI,44.500000,-89.500000,Plant,"Platanthera leucophaea, Eastern Prairie Fringe...",Threatened,Leopold WMD,"[44.5, -89.5]"
...,...,...,...,...,...,...,...,...
131,CA,36.778259,-119.417931,Plant,"Oenothera deltoides howellii, Antioch Dunes Ev...",Endangered,Antioch Dunes NWR,"[36.778259000000006, -119.41793100000001]"
132,CA,36.778259,-119.417931,Plant,"Orcuttia californica, California Orcutt grass",Endangered,San Diego NWR,"[36.778259000000006, -119.41793100000001]"
133,CA,36.778259,-119.417931,Plant,"Rorippa gambellii, GambelÃ¦ÂŠÂ¯ Watercress",Endangered,Guadalupe-Nipomo Dunes NWR,"[36.778259000000006, -119.41793100000001]"
136,NC,35.782169,-80.793457,Plant,"Aeschynomene virginica, Sensitive Joint-vetch",Threatened,Mattamuskeet NWR,"[35.782169, -80.79345699999999]"
137,NC,35.782169,-80.793457,Plant,"Amaranthus pumilus, Seabeach Amaranth",Endangered,Currituck NWR,"[35.782169, -80.79345699999999]"

In [29]:
# Export to csv
cleaned_plants_df.to_csv("../../data/Endangered_Plants.csv", index=False)